body {
    margin-rigth: 1em;
    margin-left: 1em;
    background: #fff8ed;
}

pre {
	background: #e3edef;
	padding: 0.2em;
	border: 1px solid #a9b0b2;
	border-radius: 0.2em;
}

i.code-name {
	font: monospace;
	font-style: normal;
	font-weight: bold;
	color: #493a18;
	background: #f2bcd8;
}
